@font-face {
  font-family: 'poppins-thin';
  src: url("src/assets/Font/Poppins-Thin.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-light';
  src: url("src/assets/Font/Poppins-Light.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-regular';
  src: url("src/assets/Font/Poppins-Regular.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-bold';
  src: url("src/assets/Font/Poppins-Bold.ttf")format('truetype');
}

.main{


  width: 100vw;
  height: 100vh;
  background-color: #e5e5f7;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 40px ), repeating-linear-gradient( #444cf755, #444cf7 );


}

mat-card {
  width: 28rem;
  position: absolute;
  right: 10rem;
  top: 10rem;
  height: 25rem;
  border: #003300;
  border-radius: 25px  !important;
  box-shadow: black 2px 2px 15px;
  margin-left: 60vw;
  font-family: poppins-regular;
  opacity: 1.6;

}

mat-card-header {
  background: #1E90FF;
  border-radius: 25px 25px 0 0 !important;
}

mat-card-title{
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: green;*/
  /*border-radius: 62% 38% 49% 51% / 54% 60% 40% 46% ;*/
  /*display: flex;*/
  /*justify-content: center; !* align horizontal *!*/
  /*align-items: center; !* align vertical *!*/
}

mat-card-title p {
  color: #fff;
  margin-left: 9vw;
  font-family: poppins-bold;
  font-size: 2rem;

}

mat-form-field{
  padding: 10px;
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

.btnicon {
  width: 20px;
  height:25px;
  float: left;

}

.logins {
  color: black;
  margin-top: 10px;
  width: 20vw;
  background: #1E90FF !important;
  border-radius: 20px;
}

button[btn-a] {
  background: #1E90FF !important;
  width: 20vw;
  border-radius: 20px;
  color: white;


}

button[btn-b] {
  background: #355E3B !important;
}

