*{
  margin: 0;
  padding: 0;
  /*font-family: poppins-regular;*/
}

@font-face {
  font-family: 'poppins-thin';
  src: url("src/assets/Font/Poppins-Thin.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-light';
  src: url("src/assets/Font/Poppins-Light.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-regular';
  src: url("src/assets/Font/Poppins-Regular.ttf")format('truetype');
}

@font-face {
  font-family: 'poppins-bold';
  src: url("src/assets/Font/Poppins-Bold.ttf")format('truetype');
}

.sideimg{
  position: absolute;
  width: 800px;
  height: 800px;
  left: 100px;
}

mat-card {
  width: 25%;
  position: absolute;
  right: 10;
  border: #003300;
  border-radius: 25px !important;
  box-shadow: black 2px 2px 15px;
  margin-left: 60vw;
  font-family: poppins-regular;
}

mat-card-header {
  background: #ffffff;
  border-radius: 25px !important;
}

mat-card-title{
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: green;*/
  /*border-radius: 62% 38% 49% 51% / 54% 60% 40% 46% ;*/
  /*display: flex;*/
  /*justify-content: center; !* align horizontal *!*/
  /*align-items: center; !* align vertical *!*/
}

mat-card-title p {
  color: #1E90FF;
  margin-left: 7.5vw;
  font-family: poppins-bold;
  font-size: 2rem;

}

mat-form-field{
  padding: 10px;
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

.btnicon {
  width: 20px;
  height:25px;
  float: left;

}

.logins {
  color: black;
  margin-top: 10px;
  width: 20vw;
  background: #1E90FF !important;
  border-radius: 20px;
}

button[btn-a] {
  background: #1E90FF !important;
  width: 20vw;
  border-radius: 20px;
  color: white;


}

button[btn-b] {
  background: #355E3B !important;
}

