<header>
  <img src="./assets/logo.png" alt="headerlogo">
</header>
<main class="about__body">
  <p class="about__description">
    FCodeLearning is an innovative online learning platform designed to empower students with comprehensive
    knowledge and practical skills in programming languages. At FCodeLearning, we believe in fostering a dynamic
    and interactive learning environment where aspiring programmers can embark on a journey of skill development
    and knowledge acquisition. Our platform offers a diverse range of courses covering popular programming
    languages, ensuring that students can tailor their learning experience to suit their individual goals and
    interests. With expert instructors, engaging content, and hands-on projects, FCodeLearning equips students
    with the tools they need to succeed in the rapidly evolving world of technology. Whether you're a beginner
    eager to grasp the fundamentals or an experienced coder looking to enhance your expertise, FCodeLearning is
    your gateway to a rich and fulfilling educational experience in the realm of programming. Join us on this
    exciting venture and unlock your potential in the world of coding with FCodeLearning.
  </p>
  <div class="creators">
    <img src="./assets/persons/pamod.png" alt="pamod">
    <img src="./assets/persons/lakshan.png" alt="lakshan">
    <img src="./assets/persons/crismi.png" alt="crismi">
    <img src="./assets/persons/ruwan.png" alt="ruwan">
  </div>
</main>
