
<mat-grid-list [cols]="12" rowHeight="6rem">

  <mat-grid-tile [colspan]="12" [rowspan]="10">
    <mat-card class="homecard grid">
      <mat-card-content>

        <div class="leftside">
          <span>World Class Education</span>
          <h1>Become a</h1>
          <h1>Professional </h1>
          <h1>in IT Field</h1>
          <p> Discover a world of endless opportunities for learning, skill development, and personal growth
            right from the comfort of your own space. Our cutting-edge online learning platform is designed to
            empower learners of all ages and backgrounds to unlock their full potential. </p>

          <button mat-stroked-button color="primary">Get Started</button>
          <button mat-stroked-button color="basic">Learn More</button>

          <div class="langicons">
            <i class='bx bxl-angular' ></i>
            <i class='bx bxl-python' ></i>
            <i class='bx bxl-typescript'></i>
            <i class='bx bxl-mongodb'></i>
            <i class='bx bxl-javascript' ></i>
            <i class='bx bxl-spring-boot' ></i>
            <i class='bx bxl-git' ></i>
            <i class='bx bxl-postgresql' ></i>
            <i class='bx bxl-github' ></i>
            <i class='bx bxl-kubernetes' ></i>
            <i class='bx bxl-php' ></i>
            <i class='bx bxl-tailwind-css' ></i>
            <i class='bx bxl-docker' ></i>
            <i class='bx bxl-visual-studio' ></i>
            <i class='bx bxl-java' ></i>
          </div>
        </div>

        <div class="rightside">
          <img class="homegirl" src="assets/girl.png" alt="girl">
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

<!--  <mat-grid-tile [colspan]="1" [rowspan]="2">-->
<!--    <img src="assets/banner.png">-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile [colspan]="1" [rowspan]="3">-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile [colspan]="1" [rowspan]="3">-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--  </mat-grid-tile>-->


</mat-grid-list>
