
<mat-grid-list [cols]="12" rowHeight="6rem">

  <mat-grid-tile [colspan]="6" [rowspan]="10">
    <mat-card class="homecard">
      <mat-card-content>
        <span>World Class Education</span>
        <h1>Become a</h1>
        <h1>Professional </h1>
        <h1>in IT Field</h1>
        <p> Discover a world of endless opportunities for learning, skill development, and personal growth
          right from the comfort of your own space. Our cutting-edge online learning platform is designed to
          empower learners of all ages and backgrounds to unlock their full potential. </p>

        <button mat-stroked-button color="primary">Get Started</button>
        <button mat-stroked-button color="basic">Learn More</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="10">
    <mat-card class="homecard">
      <mat-card-content>
        <img class="homegirl" src="assets/girl.png" alt="girl">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

<!--  <mat-grid-tile [colspan]="1" [rowspan]="2">-->
<!--    <img src="assets/banner.png">-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile [colspan]="1" [rowspan]="3">-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile [colspan]="1" [rowspan]="3">-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content>Card 1</mat-card-content>-->
<!--    </mat-card>-->

<!--  </mat-grid-tile>-->


</mat-grid-list>
