/* Tool Bar */

mat-toolbar-row {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.toolbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.img-logo {
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}


.btn-nav.mat-mdc-icon-button {
  background-color: #1E90FF;
  color: #ffffff;
  vertical-align: middle;
  /*box-shadow: 1px 1px 6px #333333;*/
  border: #1E90FF solid 2px;
  padding: 10px;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.2);
}

.lbl-user {
  font-size: 14px;
  color: black;
  margin: 0px 5px 0px 0px;
}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
}

.notificationi{
  font-size: 1.2rem;
}

.badgebutton{
  border: none;
  background: white;
  margin-right: 1rem;
}


/* Side Navigation */

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 15%;
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

mat-sidenav mat-icon {
  font-size: 20px;
  margin: 0px 0px -10px 0px;
}

mat-nav-list mat-list-item {
  height: 35px;
  font-size: 14px;
  padding: 30px 0 30px 40px;
  margin-top: 10px;
  /*border-bottom: #8aa88a 2px solid;*/
}

mat-nav-list mat-list-item:hover {
  background: #fff;
  border-radius: 0 25px 25px 0;
  border-left: 10px black solid;
}

mat-list-item.active{
  border-radius: 0 25px 25px 0;
  border-left: 10px black solid;
  background: #eee;
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
  border-radius: unset;
  margin-top: 10px;
}

mat-nav-list mat-expansion-panel-header {
  height: 35px;
  padding: 0 20px 0 0;
}

mat-nav-list mat-expansion-panel-header:hover {
  background: #fff !important;
}

mat-nav-list mat-expansion-panel mat-list-item {
  height: 28px;
}

footer{
  background: #000;
  color: #fff;
  text-align: center;
}

/*------------Mat Menu----------*/





