<mat-toolbar>
  <mat-toolbar-row>

    <span class="toolbar-left">
      <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>{{opened ? 'menu' : 'sort'}}</mat-icon></button>
      <img src="/assets/logo.png" class="img-logo">
    </span>

    <span class="toolbar-right">
      <button class="badgebutton" matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()"><i class='bx bxs-bell notificationi' ></i></button>&nbsp;&nbsp;
      <label class="lbl-user">{{user}}</label>
      <img src="assets/lakshan.jpg" class="img-user" [matMenuTriggerFor]="menu"/>
<!--      <button mat-icon-button (click)="logout()" class="btn-logout"><mat-icon>exit_to_app</mat-icon> </button>-->
      <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="logout()">
           <mat-icon>exit_to_app</mat-icon>
           <span>Logout</span>
         </button>

        <button mat-menu-item>
           <mat-icon>person</mat-icon>
           <span>Profile</span>
         </button>
      </mat-menu>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">

    <mat-nav-list>
      <a routerLink="home"><mat-list-item [routerLinkActive]="['active']"><mat-icon>home</mat-icon>Home</mat-list-item></a>
      <a routerLink="employee"><mat-list-item [routerLinkActive]="['active']"><mat-icon>widgets</mat-icon>Dashboard</mat-list-item></a>
      <a routerLink="cources"><mat-list-item [routerLinkActive]="['active']"> <mat-icon>person</mat-icon>Cources</mat-list-item></a>
      <a routerLink="#"><mat-list-item [routerLinkActive]="['active']"><mat-icon>event_note</mat-icon>My Cources</mat-list-item></a>
      <a routerLink="#"><mat-list-item [routerLinkActive]="['active']"><mat-icon>person_add</mat-icon>Registration</mat-list-item></a>
      <a routerLink="#"><mat-list-item [routerLinkActive]="['active']"><mat-icon>class</mat-icon>Class</mat-list-item></a>
      <a routerLink="about"><mat-list-item [routerLinkActive]="['active']"><i class='bx bxs-info-circle'></i>About</mat-list-item></a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<footer>
  <p>RESERVED BY FCODELEARNING @2023</p>
</footer>
