<main class="main">

  <header class="coverHeader">
    <img [src]=image class="coverimg" alt="cover">
    <p class="coverTitle">{{courcename}}</p>
    <p class="coverDescription">{{description}}</p>
  </header>

  <div class="details">
    <p><i class='bx bxs-time'></i>  {{duration}}h Duration</p>
    <p><i class='bx bxs-objects-vertical-bottom' ></i>  {{level}} Level</p>
    <p><i class='bx bxs-videos' ></i>  {{videocount}} Videos</p>
    <p><i class='bx bx-certification' ></i>  {{certificatestatus}}</p>
  </div>

  <div class="actionBar">
    <button class="enrollbtn" (click)="message()" mat-raised-button>Enroll</button>
    <span [class]=wishstatus (click)="setWishList()" ><i class='bx bxs-bookmark-heart' ></i></span>
    <button class="goto" *ngIf="toggleBtn" routerLink="../../content/{{cource_id}}" mat-raised-button>Go To Cource</button>
  </div>

  <div class="author">
    <img  src="../assets/author.png" alt="AuthorImg">
    <p class="bio">
      I am a seasoned JavaScript Software Engineer with over 5 years of experience in the dynamic world of web
      development. My journey in programming began with a fascination for creating interactive web experiences,
      and I've since honed my skills to become a proficient developer. My expertise lies in crafting clean,
      efficient, and maintainable JavaScript code that breathes life into websites and applications.
      I'm well-versed in the latest web technologies and frameworks, such as React and Node.js, and I enjoy
      tackling challenges to deliver innovative solutions. With a keen eye for detail and a passion for
      user-centric design, I am committed to crafting web experiences that both delight users and exceed
      client expectations. Whether it's front-end magic or back-end wizardry, I'm always eager to push the
      boundaries of what's possible with JavaScript.
    </p>
  </div>



</main>
