mat-card {
  width: 170%;
  height: 100%;
  margin: 10px 10px -16px 10px !important;
}

mat-card-header {
  background: #c0d9c3;
}

.form_item{
  position: relative;
  top:10px;
  left:5px;
}

.empForm{
  position: relative;
  top: 20px;
}

.btnPanel{
  position: relative;
  left: 10px;
  top: 20px;
  width: 20%;
}

#loading img{
  width:30px;
  height: 30px;
  margin-left: 200px;
}

mat-card-content{
  overflow:auto;
  height: 100%;

}

.csearch{
  height: 40px;
  width: 100%;
  margin-top: 5px;
}

mat-table{
  margin-top: 5px;
  width: 100px;
}

#ssearch mat-card-content{
  padding-top:30px;
}

#ssearch mat-form-field{
  padding-left:15px;
  width: 200px;
}

#ssearch button{
  width:195px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #435f3b;
}

#employeeform{
padding-top: 20px;
}

#imgpanel{
  height:100px;
  margin-bottom: 30px;
}

#imgpanel img{
  height: 100px;
  width: 100px;
}

#selectbutton, #clearbutton{
  width: 150px;
  display: block;
  margin-left: 150px;
  margin-bottom: 5px;
  background-color: darkolivegreen;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

#selectbutton{
  margin-top: -100px;
}

/* Employee Form > Button Pane;l*/

#butpanel{
  margin-top: 30px;
  margin-bottom: 30px;
}

#butpanel button{
  width: 82px;
  margin: 3px;
  background-color: #435f3b;
  color: white;
}
